body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-custom {
    background-color: #62c1fc;
    font-family: Lucida Bright;
}

.navbar-nav {
    color: #29a9ff;
}

th {
    color: #29a9ff;
    font-family: Lucida Bright;
}

td {
    color: #29a9ff;
    font-family: Lucida Bright;
}

label {
    color: #29a9ff;
    font-family: Lucida Bright;
}

.btn {
    background-color: #29a9ff;
    font-family: Lucida Bright;
}

.dl-horizontal {
    color: #29a9ff;
    font-family: Lucida Bright;
}

h3 {
    color: #29a9ff;
    font-family: Lucida Bright;
}

checkbox {
    color: #29a9ff;
    font-family: Lucida Bright;
}